body {
   font-family: "Times New Roman", Times, serif;
   font-size: large;
}
.btn {
   font-size: large;
   width: 20%;
}
.small-nav-text {
   font-size: xx-small;
}

@media screen and (min-width: 800px) {
   body {
      font-size: x-large;
   }
   .btn {
      font-size: x-large;
   }
   .hero {
      position: relative;
   }
   .hero .hero-buttons {
      position: absolute;
      top: 75%;
      left: 65%;
      width: 30%;
   }
   .hero .hero-buttons .btn {
      color: white;
      border-color: white;
      background-color: rgb(0, 0, 0, 0.2);
   }
   .hero .hero-buttons .btn:hover {
      background-color: rgb(0, 0, 0, 0);
   }
}

.fade-in-image {
   animation: fadeIn 4s;
   -webkit-animation: fadeIn 4s;
   -moz-animation: fadeIn 4s;
   -o-animation: fadeIn 4s;
   -ms-animation: fadeIn 4s;
}
@keyframes fadeIn {
   0% {
      opacity: 0;
   }
   100% {
      opacity: 1;
   }
}

@-moz-keyframes fadeIn {
   0% {
      opacity: 0;
   }
   100% {
      opacity: 1;
   }
}

@-webkit-keyframes fadeIn {
   0% {
      opacity: 0;
   }
   100% {
      opacity: 1;
   }
}

@-o-keyframes fadeIn {
   0% {
      opacity: 0;
   }
   100% {
      opacity: 1;
   }
}

@-ms-keyframes fadeIn {
   0% {
      opacity: 0;
   }
   100% {
      opacity: 1;
   }
}
